# Ignore build output and executables
shell
*.exe
*.out
*.o
*.obj

# Ignore build folders
/build/
Debug/
Release/

# Ignore VS Code settings
.vscode/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore core dumps
core
*.core

# Generated web assets (auto-created by make)
src/gui/web/*.html.h
src/gui/web/*.css.h
src/gui/web/*.js.h

*.md
*.txt